<!DOCTYPE html>
<html style="height: 100%">
   <head>
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>
   </body>
   <% include ../partials/script %>
</html>
